* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10px;
    background-color: rgba(245, 245, 245);
}

.field {
    margin: 10px 10px;
    padding: 10px;
    background-color: rgba(211, 211, 211);
}

.buttonField {
    background-color: rgba(245, 245, 245);
    margin: 10px 10px;
}

input {
    padding: 5px;
}

header {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

h3 {
    margin: 10px 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

footer h5 {
    margin: 0;
}

#outputlist ol {
    /*0 margin: 10px;*/
    background-color: rgba(245, 245, 245);
    color: rgb(7, 7, 7);
}

#outputlist ol li {
    background-color: rgba(211, 211, 211);
}

#option-1 {
    background-color: red;
}

#option-2 {
    background-color: green;
}

#option-3 {
    background-color: yellow;
}

#option-4 {
    background-color: blue;
}